@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    /* ===== Colors ===== */
    --body-color: #E1E3E8;
    --primary-color: #196AA5;
    --primary-color-light: #A4BBC5;
    --toggle-color: #7A7E83;
    --footer-color: #46494F;
    --text-color: #000000;
}

header {
    color: var(--body-color);
    background-color: var(--primary-color);
}

body {
    min-height: 100vh;
    display:flex;
    flex-direction:column;
    background-color: var(--body-color);
}

footer {
    background-color: var(--footer-color);
}

.logo {
    color: var(--body-color)
}

.page-header {
    padding: 0 1.5rem;
}

.page-content {
    padding: 0 5rem;
    height: 100%;
    flex: 1;
}

.fs-6 {
    margin-bottom: 0.5rem;
}