<div class="px-2">
    <h1>Hello, I am Mauro Giordano</h1>
    <h4><span style="color:#1cfeba">Full-Stack Developer. </span></h4>
    <p>I am a full-stack engineer from Italy with expertise in Typescript, Python and frameworks like Angular.</p>
    
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original.svg" matTooltip="Angular" class="dev-icons"/>&nbsp;
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-original.svg" matTooltip="Bootstrap" class="dev-icons"/>&nbsp;
    <img src="https://cdn.simpleicons.org/chartdotjs" matTooltip="Chart.js" class="dev-icons"/>&nbsp;
    <img src="https://cdn.simpleicons.org/openlayers" matTooltip="Openlayers" class="dev-icons"/>&nbsp;
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg" matTooltip="Typescript" class="dev-icons"/>&nbsp;
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" matTooltip="Javascript" class="dev-icons"/>&nbsp;
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg" matTooltip="NodeJS" class="dev-icons"/>&nbsp;
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" matTooltip="HTML" class="dev-icons"/>&nbsp;
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" matTooltip="CSS" class="dev-icons"/>&nbsp;
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/sass/sass-original.svg" matTooltip="Sass" class="dev-icons"/>&nbsp;
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg" matTooltip="Git" class="dev-icons"/>&nbsp;
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/ionic/ionic-original.svg" matTooltip="Ionic" class="dev-icons"/>&nbsp;
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/electron/electron-original.svg" matTooltip="Electron" class="dev-icons"/>&nbsp;
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" matTooltip="Python" class="dev-icons"/>&nbsp;
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/c/c-original.svg" matTooltip="C" class="dev-icons"/>&nbsp;
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/cplusplus/cplusplus-original.svg" matTooltip="C++" class="dev-icons"/>&nbsp;
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/matlab/matlab-original.svg" matTooltip="Matlab" class="dev-icons"/>&nbsp;
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/jira/jira-original.svg" matTooltip="Jira" class="dev-icons"/>&nbsp;
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bitbucket/bitbucket-original.svg" matTooltip="BitBucket" class="dev-icons"/>&nbsp;
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/sourcetree/sourcetree-original.svg" matTooltip="SourceTree" class="dev-icons"/>&nbsp;
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vscode/vscode-original.svg" matTooltip="VSCode" class="dev-icons"/>&nbsp;
    
    <div class="button-row">
        <!-- <button mat-stroked-button class="resume-button">Resume</button> -->
        <button mat-raised-button class="contact-button" routerLink="/contact">Get In Touch</button>
    </div>
</div>