<div class="container-fluid">
    <h1>Tools</h1>
    <div class="row pb-3">
        <div class="col-sm-4" *ngFor="let tool of tools">
            <mat-card >
                <mat-card-header>
                    <mat-card-title>{{tool.name}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>{{tool.description}}</p>
                </mat-card-content>
                <mat-card-actions>
                    <a style="text-decoration:none" href="{{tool.repository}}" target="_blank" matTooltip="Github">
                        <img width="32" height="32" src="https://cdn.simpleicons.org/github/white"/>&nbsp;
                    </a>
                    <!-- <button routerLink="{{tool.repository}}" mat-button>GITHUB</button> -->
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    <h1>Projects</h1>
    <div class="row pb-3">
        <div class="col-sm-4" *ngFor="let project of projects">
            <mat-card >
                <mat-card-header>
                    <mat-card-title>{{project.name}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>{{project.description}}</p>
                </mat-card-content>
                <mat-card-actions>
                    <a style="text-decoration:none" href="{{project.repository}}" target="_blank" matTooltip="Github">
                        <img width="32" height="32" src="https://cdn.simpleicons.org/github/white"/>&nbsp;
                    </a>
                    <!-- <button routerLink="{{project.repository}}" mat-button>GITHUB</button> -->
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    <h1>Collaborative Projects</h1>
    <div class="row pb-3">
        <div class="col-sm-4" *ngFor="let collaborativeProject of collaborativeProjects">
            <mat-card >
                <mat-card-header>
                    <mat-card-title>{{collaborativeProject.name}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>{{collaborativeProject.description}}</p>
                </mat-card-content>
                <mat-card-actions>
                    <a style="text-decoration:none" href="{{collaborativeProject.repository}}" target="_blank" matTooltip="Github">
                        <img width="32" height="32" src="https://cdn.simpleicons.org/github/white"/>&nbsp;
                    </a>
                    <!-- <button routerLink="{{collaborativeProject.repository}}" mat-button>GITHUB</button> -->
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>