<div class="px-2">
    <h1>Contact Me</h1>
    
    <div>
        <a style="text-decoration:none" href="mailto:mauro.giordano1995@gmail.com" target="_blank" matTooltip="Gmail">
            <img src="https://cdn.simpleicons.org/gmail" class="contact-icons"/>&nbsp;
        </a>
        <a style="text-decoration:none" href="mailto:m.giordano@protonmail.com" target="_blank" matTooltip="ProtonMail">
            <img src="https://cdn.simpleicons.org/protonmail" class="contact-icons"/>&nbsp;
        </a>
        <a style="text-decoration:none" href="https://www.linkedin.com/in/mauro-giordano-07105677/" target="_blank" matTooltip="Linkedin">
            <img src="https://cdn.simpleicons.org/linkedin" class="contact-icons"/>&nbsp;
        </a>
        <a style="text-decoration:none" href="https://discordapp.com/users/372431105644691456" target="_blank" matTooltip="Discord">
            <img src="https://cdn.simpleicons.org/discord" class="contact-icons"/>&nbsp;
        </a>
        
    </div>
</div>